{% extends 'base.html' %}

{% block title %}Ling - {{course.name}}{% endblock %}

{% block content %}

<h1 class="p-3 font-title">{{course.name}}</h1>

{% if not is_subscribed %}
<form action="./{{course.id}}/subscribe" method="post">
  {% csrf_token %}
  <button>Subscribe</button>
</form>
{% else %}

<ul>
{% for lesson in lessons %}
<div class="py-2">
  <li class="px-3 text-white rounded bg-dark d-flex justify-content-between align-items-center">
    <span class="font-stories" style="width:150px;">
      {{lesson.name}}
    </span>
    {% if lesson.past_execution_count == 0 %}
      <div class="rounded text-dark" style="background: yellow;">
        <span class="font-text p-2">Not yet completed</span>
      </div>
    {% else %}
      <div class="rounded text-dark" style="background: lightgreen;">
        <span class="font-text p-2">done {{lesson.past_execution_count}} times</span>
      </div>
    {% endif %}
    {% if lesson.best_pct_correct is not None %}
    <div class="rounded text-dark p-2" style="background: lightgreen; width:250px;">
        <span class="font-text">{{lesson.best_pct_correct}}% correct on the best attempt</span>
      <span class="font-text">completed with time {{lesson.best_time}}</span>
    </div>
    {% endif %}
    {% if lesson.current_execution_id %}
    <form action="../class/{{lesson.current_execution_id}}" method="get">
      {% csrf_token %}
      <button class="font-title btn btn-primary">Continue class</button>
    </form>
    {% else %}
    <form class="px-4" action="../lesson/{{lesson.id}}/startclass" method="post">
      {% csrf_token %}
      <button class="font-title btn btn-primary">Start class</button>
    </form>
    {% endif %}
    <img class="px-3 py-2 lesson-image" style="width:150px;" src={{lesson.image.url}}>
  </li>
</div>
{% endfor %}
</ul>

{% endif %}

{% endblock %}
